# Shared config
NEXT_PUBLIC_APP_NAME=Fintracker & Vault

# Fintracker API
NEXT_PUBLIC_FINTRACKER_API_URL=https://api.fintracker.com

# Vault API
NEXT_PUBLIC_VAULT_API_URL=https://api.vault.com

# Analytics (optional)
NEXT_PUBLIC_GA_ID=

# Feature flags
NEXT_PUBLIC_ENABLE_BETA=false

# Environment
NODE_ENV=development
